<div class="row align-items-center justify-content-center">
  <div class="col-md-8 ">
    <h2>
      <hr> Employee List! </h2>
    <table class="table table-bordered">
      <tr>
        <th>Sr. No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let row of employeeList; let index=index;">
        <td>{{index+1}}</td>
        <td>{{row.Name}}</td>
        <td>{{row.Email}}</td>
        <td>{{row.PhoneNo}}</td>
        <td><input type="button" (click)="delete(row.Id)" value="Delete" class="btn btn-link"/></td>
      </tr>
    </table>
  </div>
</div>